[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://git::@github.com/tmux-plugins/tmux-continuum
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://git::@github.com/tmux-plugins/tmux-copycat
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
[submodule "vim/pack/base/start/fugitive"]
	path = vim/pack/base/start/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/base/start/nerdtree"]
	path = vim/pack/base/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/base/start/nerdtree-git-plugin"]
	path = vim/pack/base/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/base/start/vim-buffergator"]
	path = vim/pack/base/start/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "vim/pack/base/start/vim-obsession"]
	path = vim/pack/base/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "vim/pack/base/start/vim-tmux-navigator"]
	path = vim/pack/base/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/colors/opt/palenight.vim"]
	path = vim/pack/colors/opt/palenight.vim
	url = https://github.com/drewtempelmeyer/palenight.vim
[submodule "vim/pack/colors/opt/vim-airline-themes"]
	path = vim/pack/colors/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/colors/opt/vim-deep-space"]
	path = vim/pack/colors/opt/vim-deep-space
	url = https://github.com/tyrannicaltoucan/vim-deep-space
[submodule "vim/pack/colors/start/vim-gruvbox8"]
	path = vim/pack/colors/start/vim-gruvbox8
	url = https://github.com/lifepillar/vim-gruvbox8
